<div class="uk-text-center uk-margin-xlarge-bottom uk-margin-xlarge-top">
  <span uk-icon="icon: user; ratio: 6"></span>
  <div class="uk-margin-small-top">
    <h2 class="uk-text-bold">{{model.fullName}}</h2>
    <div class="uk-text-small">{{model.email}}</div>
  </div>
</div>
