<header style="background-color: #2f80ed;" class="uk-margin-medium-bottom">
  <div class="uk-container">
    <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
      <div class="uk-width-auto">
        {{#link-to 'cart'}}
          <img style=""  class="uk-margin-medium-top uk-margin-medium-bottom" width="92" height="46" src="/images/logo.png" alt="9ple logo">
        {{/link-to}}
        <!-- <img style=""  class="uk-margin-medium-top uk-margin-medium-bottom" width="92" height="46" src="/images/logo.png" alt="9ple logo"> -->
      </div>
      <div class="uk-width-expand">
        <button class="uk-button uk-button-default uk-align-right uk-margin-medium-top uk-margin-medium-bottom" type="button"><a href="" uk-icon="user"></a></button>
        <div uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            {{#link-to 'account' tagName="li" activeClass="uk-active"}}
              <a>My account</a>
            {{/link-to}}
            {{#link-to 'order' tagName="li" activeClass="uk-active"}}
              <a>Order</a>
            {{/link-to}}
            <li class="uk-nav-divider"></li>
            {{#link-to 'order' tagName="li" activeClass="uk-active"}}
              <a {{action 'signOut'}}>Sign Out</a>
            {{/link-to}}
          </ul>
        </div>
      </div>
    </div>  
  </div>
</header>
<div class="uk-margin-medium-top">
  <ul class="uk-flex-center" uk-tab>
    {{#link-to 'account.index' tagName="li" activeClass="uk-active"}}
      <a>Information</a>
    {{/link-to}}
    {{#link-to 'account.addresses' tagName="li" activeClass="uk-active"}}
      <a>Addresses</a>
    {{/link-to}}
    {{#link-to 'account.payments' tagName="li" activeClass="uk-active"}}
      <a>Payments</a>
    {{/link-to}}
  </ul>
</div>
{{outlet}}
<footer style="background-color: #18427A;">
  <div class="uk-container">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-auto">
        <img style=""  class="uk-margin-large-top" width="92" height="46" src="/images/9ple-beta-2017-09-04.png" alt="9ple logo">
        <p class="uk-text-meta uk-margin-small-top uk-margin-small-bottom">Term of Services | Privacy Policy</p>
        <p class="uk-text-meta uk-margin-remove-top uk-margin-large-bottom">© 9ple, 2017. all rights reserved.</p>
      </div>
      <div class="uk-width-expand">
        
      </div>
    </div>
  </div>
</footer>