<header style="background-color: #2f80ed;">
  <div class="uk-container">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-auto">
        <img style=""  class="uk-margin-medium-top uk-margin-medium-bottom" width="92" height="46" src="/images/logo.png" alt="9ple logo">
      </div>
      <div class="uk-width-expand" uk-grid>
        <div class="uk-width-expand">
          {{#link-to 'order' tagName="button" class="uk-button uk-button-default uk-align-right uk-margin-medium-top uk-margin-medium-bottom"}}
            Orders
          {{/link-to}}
        </div>
        <div class="uk-width-auto">
          <button {{action 'signOut'}} class="uk-button uk-button-default uk-align-right uk-margin-medium-top uk-margin-medium-bottom uk-margin-small-left uk-text-success">Sign Out</button>
        </div>
      </div>
    </div>  
  </div>
</header>
<div class="uk-position-center" uk-spinner></div>