<header style="background-color: #2f80ed;">
  <div class="uk-container">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-auto">
        <img style=""  class="uk-margin-medium-top uk-margin-medium-bottom" width="92" height="46" src="/images/logo.png" alt="9ple logo">
      </div>
      <div class="uk-width-expand" uk-grid>
        <div class="uk-width-expand">
          {{#link-to 'order' tagName="button" class="uk-button uk-button-default uk-align-right uk-margin-medium-top uk-margin-medium-bottom"}}
            Orders
          {{/link-to}}
        </div>
        <div class="uk-width-auto">
          <button {{action 'signOut'}} class="uk-button uk-button-default uk-align-right uk-margin-medium-top uk-margin-medium-bottom uk-margin-small-left uk-text-success">Sign Out</button>
        </div>
      </div>
    </div>  
  </div>
</header>
<div class="uk-container">
  <div class="uk-text-bold uk-text-center uk-text-lead uk-margin-bottom">Orders</div>
  <div uk-grid>
    <div class="uk-width-auto">  
      <div style="border: 1px solid #E6E6E6;" class="uk-card uk-card-default uk-card-body uk-padding-small">
        <h4 class="uk-card-title uk-margin-small-bottom uk-margin-small-top">Your orders</h4>
        <hr class="uk-divider-icon uk-margin-small-bottom uk-margin-small-top">
        <div class="uk-overflow-auto uk-height-max-large">
          <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover">
            <thead>
              <tr>
                <th class="uk-width-small">Order date</th>
                <th>Order status</th>
              </tr>  
            </thead>
            <tbody class="uk-text-small">
              {{#each model as |request|}}
                <tr>          
                  <td>{{simple-time request.createdAt}}</td>
                  {{#link-to 'order.view' request}}
                    <td>{{status-rule request.icon}}</td>
                  {{/link-to}}        
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="uk-width-expand">
      <div class="uk-text-lead">order</div>
      {{outlet}}
    </div>
  </div>
</div>
<footer style="background-color: #18427A;">
  <div class="uk-container">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-auto">
        <img style=""  class="uk-margin-large-top" width="92" height="46" src="/images/9ple-beta-2017-09-04.png" alt="9ple logo">
        <p class="uk-text-meta uk-margin-small-top uk-margin-small-bottom">Term of Services | Privacy Policy</p>
        <p class="uk-text-meta uk-margin-remove-top uk-margin-large-bottom">© 9ple, 2017. all rights reserved.</p>
      </div>
      <div class="uk-width-expand">
        
      </div>
    </div>
  </div>
</footer>